<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>It's me, Zaana! After completing the <a href="https://30daymapchallenge.com/" style="color:#FFFFFF;">30 Day Map Challenge</a> for the 2nd year in a row,
          I've created a home for all the maps made for the 2022 challenge!
        </p>
      </div>
      <div class="col-lg-4">
        <p>I love working with GIS and data-viz, and I always enjoy learning new tips and tricks from these challenges. Feel free to connect with me
        on LinkedIn for future content! I love connecting with everyone in the tech field! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://linkedin.com/in/zaaaana" class="btn btn-lg btn-outline">
          <i class="fa-brands fa-linkedin-in"></i>  Connect w/me!
        </a>
      </div>
    </div>
  </div>
</section>
